body {
    margin: 0;
    background-color: #1C1C1C;
    color: #D5D4D8;
}

#hero {
    padding: 100px 100px;
    margin: 0px auto;
}

.title {
    font-family: "Karla", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.green-text {
    color: #41da7b;
}

.hint {
    font-weight: 400;
    font-size: 20px;
    color: rgba(213,212,216,1);
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;

}

.gen-btn {
    background-color: #10B981;
    padding: 9px 17px;
    gap: 12px;
    color: white;
    width: hug(191px);
    height: hug(42px);
    margin-top: 40px;
    border-radius: 6px;
    font-size: 16px;
}